// Configuration for 1rem = 10px
// Set html { font-size: 62.5%; } in your global styles

// Colors
$color-white: #FFFFFF;
$color-black: #000000;

$grey-600: #3D6666;
$grey-550: #547878;
$grey-500: #5E7A7D;
$grey-400: #7F9D9F;
$grey-300: #9EBBBD;
$grey-200: #C5E4E7;
$grey-50:  #F3F9FA;

$green-900: #00474B;
$green-800: #085C61;
$green-750: #0D686D;
$green-400: #26C2AE;
$green-200: #9FE8DF;

$orange-400: #E17052;

// Spacing (Base 10px = 1rem)
$spacing-0:    0;
$spacing-100:  0.8rem;  // 8px
$spacing-200:  1.6rem;  // 16px
$spacing-300:  2.4rem;  // 24px
$spacing-400:  3.2rem;  // 32px
$spacing-600:  4.8rem;  // 48px
$spacing-1000: 8.0rem;  // 80px

// Typography
$font-family-main: 'Space Mono', monospace;

// Font Sizes (Based on Typography.png)
$text-preset-1: 4.8rem; // 48px
$text-preset-2: 3.2rem; // 32px
$text-preset-3: 2.4rem; // 24px
$text-preset-4: 2.0rem; // 20px
$text-preset-5: 1.6rem; // 16px
$text-preset-6: 1.3rem; // 13px

// -----------------------------------------------------------------------------
// TYPOGRAPHY PLACEHOLDERS
// Gunakan @extend %preset-nama; untuk efisiensi CSS
// -----------------------------------------------------------------------------

@mixin text-preset-1 {
    font-size: $text-preset-1;      // 48px
    line-height: 7.1rem;            // 71px
    letter-spacing: -0.1rem;        // -1px
    font-weight: 700;
}

@mixin text-preset-2 {
    font-size: $text-preset-2;      // 32px
    line-height: 4.7rem;            // 47px
    letter-spacing: -0.067rem;      // -0.67px
    font-weight: 700;
}

@mixin text-preset-3 {
    font-size: $text-preset-3;      // 24px
    line-height: 3.6rem;            // 36px
    letter-spacing: 0;
    font-weight: 700;
}

@mixin text-preset-4 {
    font-size: $text-preset-4;      // 20px
    line-height: 3.0rem;            // 30px
    letter-spacing: 0;
    font-weight: 700;
}

@mixin text-preset-5 {
    font-size: $text-preset-5;      // 16px
    line-height: 2.4rem;            // 24px
    letter-spacing: 0;
    font-weight: 700;
}

@mixin text-preset-6 {
    font-size: $text-preset-6;      // 13px
    line-height: 1.9rem;            // 19px
    letter-spacing: 0;
    font-weight: 700;
}